@for $i from 6 through 10 {
  .m-#{$i} {
    margin: ($i - 2) + rem !important;
  }
  .mx-#{$i} {
    margin-right: ($i - 2) + rem !important;
    margin-left: ($i - 2) + rem !important;
  }
  .my-#{$i} {
    margin-top: ($i - 2) + rem !important;
    margin-bottom: ($i - 2) + rem !important;
  }
  .mt-#{$i} {
    margin-top: ($i - 2) + rem !important;
  }
  .mr-#{$i} {
    margin-right: ($i - 2) + rem !important;
  }
  .mb-#{$i} {
    margin-bottom: ($i - 2) + rem !important;
  }
  .ml-#{$i} {
    margin-left: ($i - 2) + rem !important;
  }

  .p-#{$i} {
    padding: ($i - 2) + rem !important;
  }
  .px-#{$i} {
    padding-right: ($i - 2) + rem !important;
    padding-left: ($i - 2) + rem !important;
  }
  .py-#{$i} {
    padding-top: ($i - 2) + rem !important;
    padding-bottom: ($i - 2) + rem !important;
  }
  .pt-#{$i} {
    padding-top: ($i - 2) + rem !important;
  }
  .pr-#{$i} {
    padding-right: ($i - 2) + rem !important;
  }
  .pb-#{$i} {
    padding-bottom: ($i - 2) + rem !important;
  }
  .pl-#{$i} {
    padding-left: ($i - 2) + rem !important;
  }

  @media (min-width: 576px) {
    .m-sm-#{$i} {
      margin: ($i - 2) + rem !important;
    }
    .mx-sm-#{$i} {
      margin-right: ($i - 2) + rem !important;
      margin-left: ($i - 2) + rem !important;
    }
    .my-sm-#{$i} {
      margin-top: ($i - 2) + rem !important;
      margin-bottom: ($i - 2) + rem !important;
    }
    .mt-sm-#{$i} {
      margin-top: ($i - 2) + rem !important;
    }
    .mr-sm-#{$i} {
      margin-right: ($i - 2) + rem !important;
    }
    .mb-sm-#{$i} {
      margin-bottom: ($i - 2) + rem !important;
    }
    .ml-sm-#{$i} {
      margin-left: ($i - 2) + rem !important;
    }

    .p-sm-#{$i} {
      padding: ($i - 2) + rem !important;
    }
    .px-sm-#{$i} {
      padding-right: ($i - 2) + rem !important;
      padding-left: ($i - 2) + rem !important;
    }
    .py-sm-#{$i} {
      padding-top: ($i - 2) + rem !important;
      padding-bottom: ($i - 2) + rem !important;
    }
    .pt-sm-#{$i} {
      padding-top: ($i - 2) + rem !important;
    }
    .pr-sm-#{$i} {
      padding-right: ($i - 2) + rem !important;
    }
    .pb-sm-#{$i} {
      padding-bottom: ($i - 2) + rem !important;
    }
    .pl-sm-#{$i} {
      padding-left: ($i - 2) + rem !important;
    }
  }

  @media (min-width: 768px) {
    .m-md-#{$i} {
      margin: ($i - 2) + rem !important;
    }
    .mx-md-#{$i} {
      margin-right: ($i - 2) + rem !important;
      margin-left: ($i - 2) + rem !important;
    }
    .my-md-#{$i} {
      margin-top: ($i - 2) + rem !important;
      margin-bottom: ($i - 2) + rem !important;
    }
    .mt-md-#{$i} {
      margin-top: ($i - 2) + rem !important;
    }
    .mr-md-#{$i} {
      margin-right: ($i - 2) + rem !important;
    }
    .mb-md-#{$i} {
      margin-bottom: ($i - 2) + rem !important;
    }
    .ml-md-#{$i} {
      margin-left: ($i - 2) + rem !important;
    }

    .p-md-#{$i} {
      padding: ($i - 2) + rem !important;
    }
    .px-md-#{$i} {
      padding-right: ($i - 2) + rem !important;
      padding-left: ($i - 2) + rem !important;
    }
    .py-md-#{$i} {
      padding-top: ($i - 2) + rem !important;
      padding-bottom: ($i - 2) + rem !important;
    }
    .pt-md-#{$i} {
      padding-top: ($i - 2) + rem !important;
    }
    .pr-md-#{$i} {
      padding-right: ($i - 2) + rem !important;
    }
    .pb-md-#{$i} {
      padding-bottom: ($i - 2) + rem !important;
    }
    .pl-md-#{$i} {
      padding-left: ($i - 2) + rem !important;
    }
  }

  @media (min-width: 992px) {
    .m-lg-#{$i} {
      margin: ($i - 2) + rem !important;
    }
    .mx-lg-#{$i} {
      margin-right: ($i - 2) + rem !important;
      margin-left: ($i - 2) + rem !important;
    }
    .my-lg-#{$i} {
      margin-top: ($i - 2) + rem !important;
      margin-bottom: ($i - 2) + rem !important;
    }
    .mt-lg-#{$i} {
      margin-top: ($i - 2) + rem !important;
    }
    .mr-lg-#{$i} {
      margin-right: ($i - 2) + rem !important;
    }
    .mb-lg-#{$i} {
      margin-bottom: ($i - 2) + rem !important;
    }
    .ml-lg-#{$i} {
      margin-left: ($i - 2) + rem !important;
    }

    .p-lg-#{$i} {
      padding: ($i - 2) + rem !important;
    }
    .px-lg-#{$i} {
      padding-right: ($i - 2) + rem !important;
      padding-left: ($i - 2) + rem !important;
    }
    .py-lg-#{$i} {
      padding-top: ($i - 2) + rem !important;
      padding-bottom: ($i - 2) + rem !important;
    }
    .pt-lg-#{$i} {
      padding-top: ($i - 2) + rem !important;
    }
    .pr-lg-#{$i} {
      padding-right: ($i - 2) + rem !important;
    }
    .pb-lg-#{$i} {
      padding-bottom: ($i - 2) + rem !important;
    }
    .pl-lg-#{$i} {
      padding-left: ($i - 2) + rem !important;
    }
  }

  @media (min-width: 1200px) {
    .m-xl-#{$i} {
      margin: ($i - 2) + rem !important;
    }
    .mx-xl-#{$i} {
      margin-right: ($i - 2) + rem !important;
      margin-left: ($i - 2) + rem !important;
    }
    .my-xl-#{$i} {
      margin-top: ($i - 2) + rem !important;
      margin-bottom: ($i - 2) + rem !important;
    }
    .mt-xl-#{$i} {
      margin-top: ($i - 2) + rem !important;
    }
    .mr-xl-#{$i} {
      margin-right: ($i - 2) + rem !important;
    }
    .mb-xl-#{$i} {
      margin-bottom: ($i - 2) + rem !important;
    }
    .ml-xl-#{$i} {
      margin-left: ($i - 2) + rem !important;
    }

    .p-xl-#{$i} {
      padding: ($i - 2) + rem !important;
    }
    .px-xl-#{$i} {
      padding-right: ($i - 2) + rem !important;
      padding-left: ($i - 2) + rem !important;
    }
    .py-xl-#{$i} {
      padding-top: ($i - 2) + rem !important;
      padding-bottom: ($i - 2) + rem !important;
    }
    .pt-xl-#{$i} {
      padding-top: ($i - 2) + rem !important;
    }
    .pr-xl-#{$i} {
      padding-right: ($i - 2) + rem !important;
    }
    .pb-xl-#{$i} {
      padding-bottom: ($i - 2) + rem !important;
    }
    .pl-xl-#{$i} {
      padding-left: ($i - 2) + rem !important;
    }
  }
}
