$fonts-path: "./src/fonts";
/* karla-regular - latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("#{$fonts-path}/karla-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Karla"), local("Karla-Regular"),
    url("#{$fonts-path}/karla-v13-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("#{$fonts-path}/karla-v13-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("#{$fonts-path}/karla-v13-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("#{$fonts-path}/karla-v13-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("#{$fonts-path}/karla-v13-latin-regular.svg#Karla") format("svg"); /* Legacy iOS */
}
/* karla-700 - latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("#{$fonts-path}/karla-v13-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Karla Bold"), local("Karla-Bold"),
    url("#{$fonts-path}/karla-v13-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("#{$fonts-path}/karla-v13-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("#{$fonts-path}/karla-v13-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("#{$fonts-path}/karla-v13-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("#{$fonts-path}/karla-v13-latin-700.svg#Karla") format("svg"); /* Legacy iOS */
}

$mobile: 375px;
$desktop: 1440px;

// Colors

// # Primary

$primary-cyan: hsl(179, 62%, 43%);
$primary-bright-yellow: hsl(71, 73%, 54%);

// # Neutral

$neutral-light-gray: hsl(204, 43%, 93%);
$neutral-grayish-blue: hsl(218, 22%, 67%);

$body-font-size: 16px;
